<h1>Editing existing Todo</h1>

<% if @todo.errors.any? %>
  <h4>The following errors prevente the todo to create</h4>
  <div class="">
    <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </ul>
  </div>

<% end %>

<%= form_for @todo, url: {action: "update"} do |f| %>
  <div class="">
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: "Enter a todo's name" %>
    </p>
  </div>

  <div class="">
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, size: "60x15", placeholder: "Enter a description" %>
    </p>
  </div>

  <div class="">
    <p>
      <%= f.submit %>
    </p>
  </div>

  <div class="">
    <ul>
      <p><%= link_to "Back", todos_path %></p>
    </ul>
  </div>

<% end %>
